Repository AdairBento/mag-webapp-v8: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "{apps,packages}/**/*.{js,mjs,cjs,ts,tsx}": ["eslint --fix --max-warnings 0"],
  "{apps,packages}/**/*.{json,md}": ["prettier --write"]
}

chore: remove old eslint.config.js
  eslint.config.js
Due: none

chore: relax lint-staged (allow warnings)
  .lintstagedrc.json
Due: none

chore: lint-staged - suprimir warnings de arquivos ignorados
  .lintstagedrc.json
Due: none

test: pre-commit
  apps/api/src/utils-status.js
Due: eslint --fix --max-warnings 0

ci: add GitHub Actions
  .github/workflows/ci.yml
Due: none

fix(lint-staged): config correta e pre-commit ok
  .husky/pre-commit
  api.3000.err.log
  api.3000.out.log
  api.3000.pid
  api.3001.err.log
  api.3001.out.log
  api.3001.pid
  api.3002.err.log
  api.3002.out.log
  api.3002.pid
  apps/api/src/health-extended.js
  apps/api/src/index.backup-20250911-025849.js
  apps/api/src/index.backup-20250911-032557.js
  apps/api/src/index.backup-20250911-033139.js
  apps/api/src/ui/internal/health.ts
  apps/api/src/ui/internal/index.js
  apps/api/src/ui/internal/metrics.ts
  enable-internal-min.ps1
  internal-wire.ps1
  mag-webapp-v8-integrated/apps/api/tools-mag-api.ps1
  package-lock.json
  package.json
  start-api.ps1
  stop-api.ps1
  wire-internal-auth.ps1
  wire-internal-fixed.ps1
  wire-internal-pro.ps1
  wire-internal-real.ps1
Due: eslint --fix --max-warnings 0

chore: validar lint-staged
  apps/api/src/index.js
Due: eslint --fix --max-warnings 0

chore: clean up repository and update .gitignore
  .gitignore
  api.3000.err.log
  api.3000.out.log
  api.3000.pid
  api.3001.err.log
  api.3001.out.log
  api.3001.pid
  api.3002.err.log
  api.3002.out.log
  api.3002.pid
  apps/api/src/index.backup-20250911-025849.js
  apps/api/src/index.backup-20250911-032557.js
  apps/api/src/index.backup-20250911-033139.js
  apps/api/src/index.backup-helpers.js
  apps/api/src/index.js.backup-20250909083737
  apps/api/src/index.js.backup-fix-20250909160554
  enable-internal-min.ps1
  internal-wire.ps1
  logs/erros.log
  logs/saida.log
  wire-internal-auth.ps1
  wire-internal-fixed.ps1
  wire-internal-pro.ps1
  wire-internal-real.ps1
Due: eslint --fix --max-warnings 0

chore: refine .gitignore
  .gitignore
Due: none

chore: add .prettierignore
  .prettierignore
Due: none

chore: hook test
  apps/api/src/index.js
Due: eslint --fix --max-warnings 0

chore(husky): add pre-push + enforce LF
  .gitattributes
  .husky/pre-push
Due: none

chore: run lint-staged explicitly
  apps/api/src/index.js
Due: eslint --fix --max-warnings 0

chore(husky): fix pre-push content
  .husky/pre-push
Due: none

chore(api): add stubs for internal routes and temporarily silence TS in v1
  apps/api/src/ui/internal/health.ts
  apps/api/src/ui/internal/metrics.ts
  apps/api/src/ui/v1/index.ts
  apps/api/src/ui/v1/rentals.ts
Due: eslint --fix --max-warnings 0

fix(api): wire routers correctly and export v1Router
  apps/api/src/ui/v1/index.ts
Due: eslint --fix --max-warnings 0

fix(api): use routers as instances and call registerMetrics()
  apps/api/src/server.ts
Due: eslint --fix --max-warnings 0

chore: validar lint-staged (2)
  apps/api/src/index.js
Due: eslint --fix --max-warnings 0

chore: ajustes pós-flat config (deps, ui/v1/index, scripts)
  apps/api/package.json
  apps/api/src/ui/v1/index.ts
  audit-all.ps1
  package-lock.json
Due: eslint --fix --max-warnings 0, prettier --write

test(api): importa vitest/supertest nos testes v1
  apps/api/test/financeiro.test.ts
  apps/api/test/locacao.test.ts
  apps/api/test/manutencao.test.ts
Due: eslint --fix --max-warnings 0

feat(api): adiciona endpoint /acao aos módulos financeiro, locacao e manutencao
  apps/api/src/ui/v1/financeiro/index.ts
  apps/api/src/ui/v1/locacao/index.ts
  apps/api/src/ui/v1/manutencao/index.ts
Due: eslint --fix --max-warnings 0

fix(api): restore server.ts and ensure single /v1 mount + 404 handler
  apps/api/src/server.ts
Due: eslint --fix --max-warnings 0

chore(api): add central error middleware (500)
  apps/api/src/server.ts
Due: eslint --fix --max-warnings 0

chore(api): add 404 JSON catch-all and canonical listen in index.js
  apps/api/src/index.js
Due: eslint --fix --max-warnings 0
